<?xml version="1.0"?>

<!--
/**
 * @category    ScandiPWA
 * @package     ScandiPWA_SliderGraphQl
 * @copyright   Copyright © Scandiweb, Inc. All rights reserved.
 * @copyright   Modifications © Selveq. All rights reserved.
 * @license     OSL-3.0 (Open Software License ("OSL") v. 3.0)
 * See LICENSE for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ScandiPWA_SliderGraphQl">
        <sequence>
            <module name="Magento_GraphQl" />
            <module name="Magento_GraphQlCache" />
            <module name="Scandiweb_Slider" />
        </sequence>
    </module>
</config>
